.idea
__pycache__
.pytest_cache
.vscode
*.pyc
*~
.DS_Store
.coverage
coverage.xml

data
results
reports
src/zonation_image_analysis.egg-info/
image

dist
.tox
src/zia/resources/RH0422_1x2.5.pickle
src/zia/annotations/resources/image/*
src/zia/annotations/resources/geojsons/*

path_config.ini
config*.ini
configuration.ini

